@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
.container {
  background-color: #141414;
  font-family: "Manrope", sans-serif;
  padding: 40px;
}

.main {
  padding: 56px 80px 0 80px;
  background-image: url(img/header/Background.png);
  background-size: cover;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  overflow: hidden;
}
.main .header {
  width: 100%;
  display: flex;
  align-items: center;
}
.main .header__logo {
  flex: 0 1 142px;
}
.main .header__menu {
  margin: 0 0 0 56px;
  flex: 1 1 auto;
}
.main .header__menu button {
  background-color: #FF001D;
  width: 110px;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 140%;
}
.main .header__menu button img {
  margin: 5px 8px 0 0;
  width: 17.5px;
}
.main .header__nav {
  margin: 0 0 0 15%;
}
.main .header__nav-list {
  display: flex;
  width: 500px;
  justify-content: space-around;
}
.main .header__nav-item {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 140%;
}
.main .header__phone {
  margin: 0 0 0 7%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 140%;
}
.main .dividedLine {
  display: block;
  margin: 56px 0 0 0;
  width: 100%;
  border: 1px solid #282828;
}
.main__introduction {
  display: flex;
}
.main__introduction-container {
  flex: 0 0 50%;
  padding: 120px 0;
}
.main__title {
  color: #ffffff;
  font-size: 64px;
  font-weight: 400;
  line-height: 110%;
  margin: 24px 0;
}
.main__buttons {
  display: flex;
  justify-content: space-between;
  width: 550px;
}
.main__button-appointment button {
  background-color: #FF001D;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  width: 250px;
  padding: 24px 0;
}
.main__button-consult button {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  width: 250px;
  padding: 24px 0;
}
.main__button-consult button img {
  width: 24px;
}
.main__button-text {
  padding: 4px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.services__container {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  flex-wrap: wrap;
}
.services__item {
  flex: 0 0 32.5%;
  margin: 10px 0;
}
.services .item-service {
  background-color: #1E1E1E;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  position: relative;
}
.services .item-service__info {
  flex: 0 0 60%;
}
.services .item-service__title {
  padding: 40px;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  color: #ffffff;
}
.services .item-service__price {
  padding: 40px;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
}
.services .item-service__price-from {
  font-size: 16px;
  color: #ffffff;
  line-height: 140%;
}
.services .item-service__show {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
}
.services .item-service__promotion {
  align-self: flex-end;
  width: 60px;
  padding: 5px;
  margin: 40px;
  background-color: #FF001D;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
}
.services .item-service__image img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.services .item-service__selected {
  background-color: #FF001D;
}
.services .item-service__selected .item-service__promotion {
  background-color: #000;
}

.cases {
  background-color: #fff;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}
.cases__container {
  padding: 80px;
}
.cases__title {
  display: inline-block;
  font-size: 56px;
  font-weight: 600;
  line-height: 110%;
}
.cases__arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}
.cases__arrow-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 0 24px 0 0;
}
.cases__arrow-left img {
  width: 12px;
}
.cases__arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #FF001D;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.cases__arrow-right img {
  width: 12px;
}
.cases__list {
  display: flex;
}
.cases__case {
  position: relative;
  margin: 50px 48px 0 0;
  flex: 0 0 23%;
}
.cases__case-image {
  width: 100%;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}
.cases__case-image img {
  width: 100%;
  object-fit: contain;
}
.cases__case-count {
  position: absolute;
  top: 20px;
  right: 32px;
  width: 55px;
  background-color: #000;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  padding: 5px;
}
.cases__case-description {
  margin: 24px 0 22px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
.cases__case-service-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}
.cases__case-service-button button {
  width: 100%;
  background-color: #fff;
  text-align: left;
}
.cases__case-service-button img {
  float: right;
}
.cases .socials {
  margin: 30px 80px 0 80px;
  padding: 0 0 80px 0;
}
.cases .socials__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #F5F5F5;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}
.cases .socials__container > div {
  flex: 0 0 23%;
}
.cases .socials__container > div:not(:first-child) button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 24px 48px;
  width: 100%;
  background-color: #fff;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.cases .socials__container > div:not(:first-child) button img {
  margin: 0 10px 0 0;
}
.cases .socials__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #282828;
}
.about {
  background-color: #FF001D;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  padding: 80px;
  margin: 16px 0 0 0;
}
.about__container {
  display: flex;
}
.about__description {
  flex: 0 0 50%;
  padding: 0 100px 0 0;
}
.about__title {
  font-size: 56px;
  font-weight: 600;
  line-height: 110%;
  color: #ffffff;
}
.about__text {
  margin: 48px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  color: #ffffff;
}
.about__buttons {
  margin: 90px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.about__buttons button {
  width: 100%;
  padding: 24px 48px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.about__button-appointment {
  flex: 0 0 48%;
}
.about__button-appointment button {
  background-color: #ffffff;
}
.about__button-consult {
  flex: 0 0 48%;
}
.about__button-consult button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #fff;
}
.about__advantages {
  flex: 0 0 50%;
  margin: 0 0 0 50px;
}
.about__advantages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about__advantages-item {
  flex: 0 0 46%;
  margin: 0 0 50px 0;
}
.about__advantages-title {
  margin: 32px 0 24px 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: #ffffff;
}
.about__advantages-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
