@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

.container {
  background-color: #141414;
  font-family: 'Manrope', sans-serif;
  padding: 40px;
}

.main {
  padding: 56px 80px 0 80px;
  background-image: url(img/header/Background.png);
  background-size: cover;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  overflow: hidden;

  .header {
    width: 100%;
    display: flex;
    align-items: center;

    &__logo {
      flex: 0 1 142px;
    }

    &__menu {
      margin: 0 0 0 56px;
      flex: 1 1 auto;

      button {
        background-color: #FF001D;
        width: 110px;
        padding: 10px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        img {
          margin: 5px 8px 0 0;
          width: 17.5px;
        }

        font-size: 16px;
        color: #fff;
        font-weight: 600;
        line-height: 140%;
      }
    }

    &__nav {
      margin: 0 0 0 15%;
    }

    &__nav-list {
      display: flex;
      width: 500px;
      justify-content: space-around;
    }

    &__nav-item {
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      line-height: 140%;
    }

    &__phone {
      margin: 0 0 0 7%;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      line-height: 140%;
    }
  }

  .dividedLine {
    display: block;
    margin: 56px 0 0 0;
    width: 100%;
    border: 1px solid #282828;
  }

  &__introduction {
    display: flex;
  }

  &__introduction-container {
    flex: 0 0 50%;
    padding: 120px 0;
  }

  &__title {
    color: #ffffff;
    font-size: 64px;
    font-weight: 400;
    line-height: 110%;
    margin: 24px 0;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 550px;
  }

  &__button-appointment {

    button {
      background-color: #FF001D;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
      width: 250px;
      padding: 24px 0;
    }
  }

  &__button-consult {

    button {
      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.2);
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
      width: 250px;
      padding: 24px 0;

      img {
        width: 24px;
      }
    }
  }

  &__button-text {
    padding: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
  }
}

.services {
  &__container {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 32.5%;
    margin: 10px 0;
  }

  .item-service {
    background-color: #1E1E1E;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    position: relative;

    &__info {
      flex: 0 0 60%;
    }

    &__title {
      padding: 40px;
      font-size: 24px;
      font-weight: 500;
      line-height: 140%;
      color: #ffffff;
    }

    &__price {
      padding: 40px;
      font-size: 24px;
      line-height: 140%;
      color: #ffffff;

      &-from {
        font-size: 16px;
        color: #ffffff;
        line-height: 140%;
      }
    }

    &__show {
      flex: 0 0 40%;
      display: flex;
      flex-direction: column;
    }

    &__promotion {
      align-self: flex-end;
      width: 60px;
      padding: 5px;
      margin: 40px;
      background-color: #FF001D;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      line-height: 140%;
      text-align: center;
    }

    &__image {
      img {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    &__selected {
      background-color: #FF001D;

      .item-service__promotion {
        background-color: #000;
      }
    }
  }
}

.cases {
  background-color: #fff;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;

  &__container {
    padding: 80px;
  }

  &__title {
    display: inline-block;
    font-size: 56px;
    font-weight: 600;
    line-height: 110%;
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
  }

  &__arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 0 24px 0 0;

    img {
      width: 12px;
    }
  }

  &__arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #FF001D;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;


    img {
      width: 12px;
    }
  }

  &__list {
    display: flex;
  }

  &__case {
    position: relative;
    margin: 50px 48px 0 0;
    flex: 0 0 23%;
  }

  &__case-image {
    width: 100%;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__case-count {
    position: absolute;
    top: 20px;
    right: 32px;
    width: 55px;
    background-color: #000;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    padding: 5px;
  }

  &__case-description {
    margin: 24px 0 22px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
  }

  &__case-service-button {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;

    button {
      width: 100%;
      background-color: #fff;
      text-align: left;
    }

    img {
      float: right;
    }
  }

  .socials {
    margin: 30px 80px 0 80px;
    padding: 0 0 80px 0;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px;
      background-color: #F5F5F5;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      border-radius: 32px;
    }

    &__container > div {
      flex: 0 0 23%;
    }

    &__container > div:not(:first-child) {
      button {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 24px 48px;
        width: 100%;
        background-color: #fff;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;

        img {
          margin: 0 10px 0 0;
        }
      }
    }

    &__text {
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      color: #282828;
    }

    &__vk {
      .socials__vk-button {


      }
    }

    &__inst {

    }

    &__youtube {

    }
  }
}

.about {
  background-color: #FF001D;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  padding: 80px;
  margin: 16px 0 0 0;

  &__container {
    display: flex;
  }

  &__description {
    flex: 0 0 50%;
    padding: 0 100px 0 0;
  }

  &__title {
    font-size: 56px;
    font-weight: 600;
    line-height: 110%;
    color: #ffffff;
  }

  &__text {
    margin: 48px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    color: #ffffff;
  }

  &__buttons {
    margin: 90px 0 0 0;
    display: flex;
    justify-content: space-between;

    button {
      width: 100%;
      padding: 24px 48px;
      font-size: 18px;
      font-weight: 600;
      line-height: 120%;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
    }
  }

  &__button-appointment {
    flex: 0 0 48%;

    button {
      background-color: #ffffff;
    }
  }

  &__button-consult {
    flex: 0 0 48%;

    button {
      background-color: transparent;
      color: #ffffff;
      border: 1px solid #fff;
    }
  }

  &__advantages {
    flex: 0 0 50%;
    margin: 0 0 0 50px;
  }

  &__advantages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__advantages-item {
    flex: 0 0 46%;
    margin: 0 0 50px 0;
  }

  &__advantages-image {
  }

  &__advantages-title {
    margin: 32px 0 24px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    color: #ffffff;
  }

  &__advantages-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    color: #ffffff;
  }
}